.informacoes {
  padding: 60px 0 42px;
  min-height: 770px;
}

.informacoes-lista {
  display: flex;
}

.informacoes-lista li {
  padding: 12px 24px;
  background: var(--cor-b11);
  border: 2px solid var(--cor-b12);
  border-bottom: none;
  cursor: pointer;
}

.informacoes-lista li + li {
  border-left: none;
}

.informacoes-lista li.sobre.ativo,
.informacoes-lista li.formacao.ativo,
.informacoes-lista li.skills.ativo {
  position: relative;
  background: var(--cor-b8);
  color: var(--cor-branco);
}

.informacoes-lista li.sobre.ativo::before,
.informacoes-lista li.formacao.ativo::before,
.informacoes-lista li.skills.ativo::before {
  content: "";
  display: inline-block;
  width: calc(100% + 1px);
  height: 2px;
  background-color: var(--cor-b8);
  position: absolute;
  bottom: -2px;
  left: 0;
}

.informacoes-descricao {
  padding: 60px;
  border: 2px solid var(--cor-b12);
}

.js .informacoes [data-tabNav="section"] {
  display: none;
}
.js .informacoes-descricao [data-tabNav="section"].sobre.ativo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  animation: show-down 1.2s forwards;
}

@media (max-width: 900px) {
  .informacoes-descricao {
    padding: 32px 16px;
  }
  .js .informacoes-descricao [data-tabNav="section"].sobre.ativo {
    grid-template-columns: 1fr;
  }
  .sobre figure {
    grid-row: 2;
    justify-self: center;
  }
}

@media (max-width: 750px) {
  .sobre h1 {
    font: 700 3rem/1.125 "Cormorant Garamond", serif;
  }
  .sobre p {
    font: 400 1rem/1.5 "Mulish", sans-serif;
  }
}

@media (max-width: 380px) {
  .informacoes-lista {
    flex-direction: column;
  }

  .informacoes-lista li {
    padding: 24px 24px;
  }
  .informacoes-lista li + li {
    border-left: 2px solid var(--cor-b12);
  }
  .informacoes-lista li.sobre.ativo::before,
  .informacoes-lista li.formacao.ativo::before,
  .informacoes-lista li.skills.ativo::before {
    width: 100%;
  }
}

@media (max-width: 310px) {
  .informacoes-descricao {
    padding: 24px 8px;
  }
}
