.js .informacoes-descricao [data-tabNav="section"].skills.ativo {
  display: block;
  animation: show-down 1.2s forwards;
}

.informacoes .skills-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.skills-titulo {
  margin-bottom: 0.75rem;
}

.skills-conteudo div {
  background: var(--cor-b10);
  padding: 24px 24px calc(24px - 0.75rem);
}

.skills-conteudo div h2 {
  margin-bottom: 1.25rem;
}

.skills-conteudo {
  margin-bottom: 0.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skills-lista li,
.skills-lista li span:nth-child(2) {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
}

.skills-lista li {
  margin-bottom: 0.75rem;
}

.front {
  grid-row: 1 / 3;
}

@media (max-width: 750px) {
  .skills > h1 {
    font: 700 3rem/1.125 "Cormorant Garamond", serif;
  }
  .informacoes .skills-conteudo {
    grid-template-columns: 1fr;
  }
}
